<header>
  <a class="the-name-logo" href="/" title="Click to go to the main folio hub."
    aria-label="Click to go to the main folio hub."><em>Rina <small><strong>the</strong></small> Bane</em></a>
  <nav>
    <ul>
      <li><a href="/developer/" title="Click to go to the developer folio."
          aria-label="Click to go to the developer folio.">Developer</a></li>
      <li><a href="/games/" title="Click to go to the games folio." aria-label="Click to go to the games folio."
          disabled>Games<em>(Coming soon)</em></a></li>
      <li><a href="/design/" title="Click to go to the graphic design folio."
          aria-label="Click to go to the graphic design folio." disabled>Graphics<em>(Coming soon)</em></a></li>
      <li><a href="/ux/" disabled>UI/UX&#13;<em>(Coming soon)</em></a></li>
    </ul>
  </nav>
</header>