<header>
  <a class="the-name-logo" href="/" title="Click to go to the main folio hub." aria-label="Click to go to the main folio hub."><em>Rina <small><strong>the</strong></small> Bane</em></a>
  <nav>
    <ul>
      <li class="{% if page.url == '/software/' %}current{% endif %}"><a href="/software/" title="Click to go to the software folio." aria-label="Click to go to the software folio.">Software</a></li>
      <li class="{% if page.url == '/games/' %}current{% endif %}"><a href="/games/" title="Click to go to the games folio." aria-label="Click to go to the games folio.">Games</a></li>
      <li class="{% if page.url == '/graphic-design/' %}current{% endif %}"><a href="/graphic-design/" title="Click to go to the graphic design folio." aria-label="Click to go to the graphic design folio.">Graphics</a></li>
      <li class="{% if page.url == '/ui-ux/' %}current{% endif %}"><a href="/ui-ux/" title="Click to go to the ui ux folio." aria-label="Click to go to the ui ux folio.">UI/UX</a></li>
    </ul>
  </nav>
</header>
