---
layout: default
---
<div class="hero-sect project">
  <img class="hero" src="{{page.heroImg}}" aria-hidden="true" />
  <div class="photo">
    <img src="{{page.egImg}}" alt="{{page.egImgAlt}}" />
  </div>
  <div class="blurb">
    <h1>{{page.title}}</h1>
    <p>{{page.description}}</p>
    {% if page.links.size > 0 %}
      <h3>Important Links</h3>
      <ul class="links">
        {% for link in page.links %}
          <li><a href="{{ link | map: "url" }}">{{ link | map: "text" }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
  </div>
</div>
<article id="review-content">{{content}}</article>
<script>
  const minimizeImgModal = () => {
    const imgModalEL = document.getElementById('img-reviewer');
    imgModalEL.remove();
  };
  const maximizeImgModal = (e) => {
    e.preventDefault();

    const imgEl = e.currentTarget;
    document.body.insertAdjacentHTML('beforeend', `<div id="img-reviewer">
      <img src="${imgEl.getAttribute('src')}" alt="${imgEl.getAttribute('alt')}" />
      <button id="close-img-reviewer" onclick="minimizeImgModal()">Close</button>
    </div>`);
  };

  const contentContainerEl = document.getElementById('review-content');
  const contentImgEls = contentContainerEl.querySelectorAll('img');
  contentImgEls.forEach(el => { el.addEventListener('click', maximizeImgModal); });
</script>
