---
layout: default
---
<div class="hero-sect project">
  <img class="hero" src="{{page.heroImg}}" aria-hidden="true" />
  <div class="photo">
    <img src="{{page.egImg}}" alt="{{page.egImgAlt}}" />
  </div>
  <div class="blurb">
    <h1>{{page.title}}</h1>
    <p>{{page.description}}</p>
    {% if page.links.size > 0 %}
      <h3>Important Links</h3>
      <ul class="links">
        {% for link in page.links %}
          <li>{{link}}</li>
          <li>MAP: {{ link | map: "url" }}</li>
          <li>MAP: {{ link | map: "text" }}</li>
          <li>{{link["data"]}}</li>
          <li>{{link["data"]["url"]}}</li>
          <li>{{link["data"]["text"]}}</li>
          <li><a href="{{link.data.url}}">{{link.data.text}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
  </div>
</div>
<article>{{content}}</article>
